*, *:before, *:after {
  box-sizing: border-box;
}

:host {
  display: block;
}

ol {
  counter-reset: item;
}

li {
  display: block;
  font-size: .9em;
  border: 1px solid transparent;
}

li[data-placeholder] {
  border: 1px dashed #aaa;
  background: #eee;
}

li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  font-variant-numeric: tabular-nums;
  font-family: monospace;
  vertical-align: top;
  cursor: grab;
}

li[data-placeholder]:before {
  color: transparent;
}

textarea {
  font-size: inherit;
  font-family: inherit;
}